/* Commom */
.div-heading {
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  margin: 10px;
}

/* Popular Artists Section */
.artist-image-caption {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.artist-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.flex-container {
  display: flex;
}
.flex-child {
  flex: 1;
  margin: 10px;
}
